$cardBackground: #59636E;
$background: #343A40;

.card {
  background-color: $cardBackground;
  border-radius: 10px;
  padding: 15px 20px;

  .login-form-input {
    margin-top: 26px;
    width: fit-content;
  }

  &.leagues {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    width: fit-content;

    & .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 11.5rem;
      margin-bottom: 10px;

      & h5 {
        margin: 0;
      }
    }

    & img {
      width: 6.25rem;
      height: 6.25rem;
    }
  }

  &.info {
    margin: 0 15px;
    display: flex;
    justify-content: space-evenly;

    & p {
      margin: 0;
    }
  }

  &.matches {
    width: 28%;
    height: 500px;
    text-align: center;
    overflow: auto;
    margin-bottom: 10px;

    & h4 {
      margin: 0;
      display: inline-block;
    }
  }

  &.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 3px 0;

    &:hover {
      cursor: pointer;
      background-color: $background;
    }

    & .team {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;

      & img {
        width: 1.8rem;
      }

      & p {
        margin: 5px 0 0 0;
      }
    }

    & .score {
      & p {
        margin: 0;
      }
    }
  }

  &.match-header {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
    padding: 5px 0;

    & .team {
      display: flex;
      align-items: center;
      cursor: pointer;

      & img {
        width: 2.5rem;
        margin: 0 10px;
      }
    }
  }

  &.team {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.two {
      align-items: flex-end;
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 8px 0;
    }
  }

  &.stream {

  }

  &.player {
    width: fit-content;
    display: flex;
    align-items: center;

    & .img-player {
      margin-right: 10px;

      & img {
        width: 100px;
      }
    }
  }
}