$secondary: #029FB3;

.header-list-leagues-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  & .form-container {
    display: flex;
    align-items: center;

    & .input-container {
      & .input {
        height: 40px;
        width: 150px;
        border-radius: 8px 0 0 8px;
        border: 2px solid #FFFFFF;
        padding: 0 10px;

        &:focus {
          outline: none;
          border: 2px solid $secondary;
        }
      }
    }

    & .button.bet {
      height: 44px;
      border-radius: 0 8px 8px 0;
    }
  }
}